
<head>
    <title>Ошибка сервера</title>
</head>
<body>
    <h1>500 - Ошибка сервера</h1>
    <div class="error"><%= error || 'Внутренняя ошибка сервера' %></div>
    <a href="/">Вернуться на главную</a>
</body>
